@import url('https://fonts.googleapis.com/css?family=Audiowide');
* {
    font-family: 'Audiowide', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
            115deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.3)
        ),
        url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app {
    background-color: #86b9e0;
}
@media (max-width: 991.98px) {
    .app {
        background-color: transparent;
    }
}

.tablet-portrait {
    padding: 65px 2%;
    border-radius: 30px;
    border: 0.5px solid #e0e0e0;
    background-color: #fff;
    /* float: left; */
    box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
        1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
    width: 45vw;
    height: 95vh;
}
@media (max-width: 991.98px) {
    .tablet-portrait {
        padding: 0; /* Disable padding */
        border: none; /* Remove border */
        background-color: transparent; /* Remove background */
        box-shadow: none; /* Remove shadow */
        height: auto; /* Auto height */
        width: 100%; /* Full width */
    }
}
.tablet-landscape {
    padding: 2% 65px;
    border-radius: 30px;
    border: 0.5px solid #e0e0e0;
    background-color: #fff;
    width: 100%;
    /* float: left; */
    box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
        1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
    height: 45vw;
    width: 60vw;
}

@media (max-width: 991.98px) {
    .tablet-landscape {
        padding: 0; /* Disable padding */
        border: none; /* Remove border */
        background-color: transparent; /* Remove background */
        box-shadow: none; /* Remove shadow */
        height: auto; /* Auto height */
        width: 100%; /* Full width */
    }
}

.card {
    width: 10vw;
    margin-right: 0;
    margin-left: 0;
    border: 0px;
    border-radius: 0%;
    background-color: #e0e0e0;
}
@media (max-width: 991.98px) {
    .card {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
    }
}
#forecast-container {
    margin-top: 100px;
    gap: 20px;
}
h2.text-center {
    padding-top: 10%;
}
.weather-icon {
    box-sizing: content-box;
    width: 100%;
    padding: 0%;
    background-color: bisque;
}

#weather-icon {
    width: 200px;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
}
.temperature {
    text-align: center;
    margin-top: 50%;
}

.temperature p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.temperature > p {
    font-size: 55px;
}
.temperature > p + p {
    font-size: 20px;
    margin-left: -20px;
}
hr {
    border: 0;
    margin-bottom: 10%;
}
.date-info p {
    margin: 0;
    text-align: center;
}
.date-info p + p {
    font-size: 20px;
}
.date-info p + p + p {
    font-size: 18px;
}
.location-info p {
    text-align: center;
    font-size: 40px;
}
.custom-icon {
    color: #fff; /* Blue color */
    font-size: 24px; /* Font size */
    margin: 10px; /* Optional margin */
    transition: all 0.3s ease; /* Smooth hover effect */
}

.custom-icon:hover {
    color: #594c4a; /* Change color on hover */
    transform: scale(1.2); /* Slight scale on hover */
}
a {
    text-decoration: none !important; /* Remove underline */
}

a:focus {
    outline: none !important; /* Remove the focus outline */
}
/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip */
.tooltip-container a:hover + .tooltip-text,
.tooltip-container a:focus + .tooltip-text {
    visibility: visible;
    opacity: 1;
}
